@charset "UTF-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: small;
	background-color: #fff;
}
a, a:VISITED {
    text-decoration:none;
    color:#3764A0;
}

div#wrapper{
    padding:12px 12px 12px 12px;
}

div#top h1{
    font-size:large;
    padding-top:15px;
    padding-left:20px;
}

div#top div.title{
    height:50px;
}

div#userBox{
    position:absolute;
    right:10px;
    text-align:right;
    top:10px;
}

#userBox .userInfo{
    display:inline-block;
    padding-bottom:2px;
    padding-right:4px;
    vertical-align:bottom;
}

#userBox .userInfo a{
    color:#666666;
    text-decoration:none;
}

#toolbar{
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/toolbar-bg-normal.png) repeat-x scroll 0 0;
    border-bottom:2px solid #999999;
    border-top:2px solid #999999;
    font-size:1.4em;
    height:32px;
    line-height:1.2em;
    list-style-type:none;
    overflow:hidden;
    width:100%;
}

#toolbar li{
    display:inline;
    float:left;
}

#toolbar li.selected{
    background-color:#000;
}

#toolbar li a{
    color:#FFFFFF;
    font-size:small;
    display:block;
    height:22px;
    padding: 5px 21px;
    text-decoration:none;
}

#toolbar li a:hover{
    background-color:#333;
}

#toolbar .searchBox{
    background-color:#000000;
    border:1px solid #555555;
    color:#999999;
    font-family:Georgia,Serif;
    font-style:italic;
    padding: 4px;
    width:200px;
    line-height:10px;
}

#toolbar .searchSubmit{
    background: #000000; /*url('../images/icons/icon-search.gif') no-repeat;*/
    border:1px solid #555555;
    padding: 4px;
    line-height:10px;
    /*padding: 2px;*/
    margin-left:0;
    /*height:22px;*/
    /*width:20px;*/
}



#container
{
    line-height: 130%;
}

#top
{
    /*width: 100%;padding-top:5px;*/
    background: transparent url(../images/header-bg.png) repeat-x scroll 0 0;;
    bottom:auto;
    display:block;
    height:86px;
    /*left:0;*/
    margin: 0;
    position:relative;
    text-align:left;
    /*right:0;*/
    /*top:0;*/
    visibility:visible;
    width:auto;
    /*z-index:2;*/
}

#leftnav
{
float: left;
width: 200px;
margin: 0;
padding: 1em;
}

#content
{
margin-left: 220px;
border-left: 1px solid gray;
padding: 1em;
}

#footer
{
    clear: both;
    margin: 0;
    background-color: #333;
    color:#fff;
    height:14px;
    padding:5px;
    font-size:x-small;
	text-align: center;
}

#footer a{
	color: #CCC;
}
#footer a:hover{
	color: #FFF;
}

#leftnav p { margin: 0 0 1em 0; }
#content h2 { margin: 0 0 .5em 0; }


.issue h1{
    font-size:large;
    margin-bottom:.5em;
}




