/*.simple .ui-dialog-titlebar {*/
    /*display:none;*/
/*}*/

/*.ui-dialog-buttonset{*/
    /*float:none !important;*/
/*}*/

/*.multiselect {*/
	/*width:260px;*/
	/*overflow: hidden;*/
	/*position: absolute;*/
	/*background: #f9f9f9;*/
	/*border: 1px solid #ddd;*/
	/*margin: 0;*/
	/*padding:5px 0 5px 10px;*/
/*}*/


.sidebar {
}

.sidebar h3 {
  padding: 0 10px;
  margin: 0;
  font-size: 13px;
}

.sidebar .block {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.sidebar .block .content {
  padding: 0 15px;
}

.sidebar ul.navigation li a:link, .sidebar ul.navigation li a:visited {
  display: block;
  padding: 5px 10px;
}

.sidebar .block .sidebar-block, .sidebar .notice {
  padding:10px;
}

#user-navigation ul, #main-navigation ul, .secondary-navigation ul, .sidebar ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active,
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active,
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
  color: #FFF;
}


.sidebar .block {
  background: #FFF;
}

.sidebar .block h4 {
  font-weight: bold;
}

.sidebar .notice {
  background: #E6EEFC;
}

.sidebar .notice h4 {
  color: #0B43A8;
}

.sidebar h3 {
  background: #36393d;
  color: #FFF;
  border-bottom: 5px solid #1a1a1a;
}

.sidebar ul li a:link, .sidebar ul li a:visited {
  background: #FFF;
  border-bottom: 1px solid #F0F0EE;
  text-decoration: none;
}

.sidebar ul li a:hover, .sidebar ul li a:active {
  background: #666666;
  color: #ffffff;;
}

.sidebar ul li.active a{
  background: #666666;
  color: #ffffff;;
}


.box{
   background-color: #eee;padding: 4px;margin-top:10px;margin-bottom:10px;
}
.box-inner{
   background-color: #fff;border: 1px solid #aaa;padding: 4px;
}

span.small{
   font-size: 90%;
}

a.completed{
   text-decoration: line-through;
   color: #BFBFBF;
}

.label-large {
  padding: 1px 3px 2px;
  background-color: #bfbfbf;
  /*font-size: 9.75px;*/
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.issueOptions {
   visibility:hidden;
   /*margin:.5em 0 .25em 0;*/
}
tr:hover .issueOptions, li:hover .issueOptions{
   visibility:visible;
}

.form-in-window {
   padding-left: 0px;
   margin-bottom: 0 !important;
}

.form-stacked-w {
   padding-left: 0;
   margin-bottom: 0;
}
.form-stacked-w fieldset {
   padding-top: 9px;
}
.form-stacked-w legend {
   padding-left: 0;
}
.form-stacked-w label {
   display: block;
   float: none;
   width: auto;
   font-weight: bold;
   text-align: left;
   line-height: 20px;
   padding-top: 0;
}
.form-stacked-w .clearfix {
   margin-bottom: 9px;
}
.form-stacked-w .clearfix div.input {
   margin-left: 0;
}
.form-stacked-w .inputs-list {
   margin-bottom: 0;
}
.form-stacked-w .inputs-list li {
   padding-top: 0;
}
.form-stacked-w .inputs-list li label {
   font-weight: normal;
   padding-top: 0;
}
.form-stacked-w div.clearfix.error {
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   margin-top: 0;
   margin-left: -10px;
}
.form-stacked-w .actions {
   margin-left: -20px;
   padding-left: 20px;
}
